<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
        <f:if condition="{element.properties.elementDescription}">
            <f:variable name="aria" value="{describedby: '{element.uniqueIdentifier}-desc'}" />
        </f:if>
        <f:if condition="{validationResults.errors}">
            <f:variable name="aria" value="{invalid: 'true', describedby: '{element.uniqueIdentifier}-errors'}" />
        </f:if>
        <f:render partial="Field/Field" arguments="{element: element, renderFieldset: '{element.properties.renderFieldset}', doNotShowLabel: 1}" contentAs="elementContent">
            <div class="form-floating mb-3">
                <label  class="{element.properties.labelClassAttribute}" for="{element.uniqueIdentifier}">{formvh:translateElementProperty(element: element, property: 'label')}
                    <f:if condition="{element.required}">
                        <f:render partial="Field/Required"/>
                    </f:if>
                </label>
                <f:form.password
                    property="{element.identifier}.password"
                    id="{element.uniqueIdentifier}"
                    class="{element.properties.elementClassAttribute}"
                    errorClass="{element.rootForm.renderingOptions.fieldProperties.errorClassAttribute}"
                    additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                    aria="{aria}"
                />
                <f:if condition="{formvh:translateElementProperty(element: element, property: 'passwordDescription')}">
                    <span class="{element.rootForm.renderingOptions.fieldProperties.descriptionClassAttribute}">{formvh:translateElementProperty(element: element, property: 'passwordDescription')}</span>
                </f:if>
            </div>
            <div class="form-floating mb-3{f:if(condition: '{validationResults.errors}', then: ' {element.rootForm.renderingOptions.fieldProperties.errorClassAttribute}')}">
                <f:if condition="{formvh:translateElementProperty(element: element, property: 'confirmationLabel')}">
                    <label class="{element.properties.labelClassAttribute}" for="{element.uniqueIdentifier}-confirmation">{formvh:translateElementProperty(element: element, property: 'confirmationLabel')}
                        <f:if condition="{element.required}">
                            <f:render partial="Field/Required"/>
                        </f:if>
                    </label>
                </f:if>
                <f:form.password
                    property="{element.identifier}.confirmation"
                    id="{element.uniqueIdentifier}-confirmation"
                    class="{element.properties.confirmationClassAttribute}"
                    errorClass="{element.rootForm.renderingOptions.fieldProperties.errorClassAttribute}"
                    additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                    aria="{aria}"
                />
            </div>
            <f:if condition="{validationResults.errors} && {element.properties.renderFieldset} == '1'">
                    <span id="{element.uniqueIdentifier}-errors" class="{element.rootForm.renderingOptions.fieldProperties.errorMsgClassAttribute}" role="alert">
                        <f:for each="{validationResults.errors}" as="error">
                            <f:format.htmlspecialchars>{formvh:translateElementError(element: element, error: error)}</f:format.htmlspecialchars>
                            <br/>
                        </f:for>
                    </span>
            </f:if>
        </f:render>
    </f:form.validationResults>
</formvh:renderRenderable>
</html>
